## Libraries

In [51]:
import pandas as pd

## Agrimonia dataset

In [52]:

data = pd.read_csv('https://zenodo.org/record/6620530/files/Agrimonia_Dataset.csv?download=1')
pd.set_option('display.max_columns', None)
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,IDStations,Latitude,Longitude,Time,Altitude,AQ_pm10,AQ_pm25,AQ_co,AQ_nh3,AQ_nox,AQ_no2,AQ_so2,WE_temp_2m,WE_wind_speed_10m_mean,WE_wind_speed_10m_max,WE_mode_wind_direction_10m,WE_tot_precipitation,WE_precipication_t,WE_surface_pressure,WE_solar_radiation,WE_rh_min,WE_rh_mean,WE_rh_max,WE_wind_speed_100m_mean,WE_wind_speed_100m_max,WE_mode_wind_direction_100m,WE_blh_layer_max,WE_blh_layer_min,EM_nh3_livestock_mm,EM_nh3_agr_soils,EM_nh3_agr_waste_burn,EM_nh3_sum,EM_nox_traffic,EM_nox_sum,EM_so2_sum,LI_pigs,LI_bovine,LA_hvi,LA_lvi,LA_land_use,LA_soil_use
0,1264,46.167852,9.87921,2016-01-01,290,6.200e+01,5.300e+01,NaN,NaN,8.263e+01,3.772e+01,NaN,-2.212,0.5970,0.9883,S,0.00037,0,83720.0,5664000.0,88.70,93.66,99.19,1.0730,1.977,S,340.6,10.63,2.015e-01,1.462e-01,2.019e-03,6.166e-01,8.359e-01,1.720e+00,3.906e-01,0.3832,5.892,3.998,1.234,112.0,17.0
1,1264,46.167852,9.87921,2016-01-02,290,7.300e+01,6.300e+01,NaN,NaN,1.017e+02,3.884e+01,NaN,-3.063,0.4402,0.7365,SE,0.07521,5,82990.0,1335000.0,94.07,97.60,99.24,1.0530,2.321,S,238.7,21.55,2.020e-01,1.589e-01,1.956e-03,6.298e-01,8.372e-01,1.720e+00,3.911e-01,0.3832,5.892,3.997,1.234,112.0,17.0
2,1264,46.167852,9.87921,2016-01-03,290,4.400e+01,3.900e+01,NaN,NaN,6.626e+01,3.234e+01,NaN,-2.768,0.6954,1.0100,S,0.02744,5,82320.0,3728000.0,90.15,95.73,98.55,1.9810,2.942,S,407.0,22.80,2.024e-01,1.708e-01,1.890e-03,6.424e-01,8.384e-01,1.720e+00,3.916e-01,0.3832,5.892,3.997,1.234,112.0,17.0
3,1264,46.167852,9.87921,2016-01-04,290,3.100e+01,2.900e+01,NaN,NaN,6.331e+01,3.167e+01,NaN,-4.352,0.5812,0.9421,W,0.08564,5,81410.0,1846000.0,90.84,96.01,99.43,1.2080,2.284,N,536.7,12.21,2.027e-01,1.821e-01,1.822e-03,6.545e-01,8.396e-01,1.720e+00,3.923e-01,0.3832,5.892,3.997,1.234,112.0,17.0
4,1264,46.167852,9.87921,2016-01-05,290,2.700e+01,2.600e+01,NaN,NaN,7.553e+01,3.333e+01,NaN,-6.184,0.5906,0.9847,SE,0.01802,5,81530.0,1733000.0,89.31,93.53,99.05,0.8226,1.672,SE,472.4,10.15,2.031e-01,1.929e-01,1.750e-03,6.660e-01,8.409e-01,1.720e+00,3.931e-01,0.3832,5.892,3.997,1.233,112.0,17.0

In [53]:
shape = data.shape
  
# Printing Number of columns
print('Number of rows: ' +str(shape[0])+ ", number of columns: "+str(shape[1]))

Number of rows: 309072, number of columns: 41

In [54]:
data.describe()

,Latitude,Longitude,Altitude,WE_temp_2m,WE_wind_speed_10m_mean,WE_wind_speed_10m_max,WE_tot_precipitation,WE_precipication_t,WE_surface_pressure,WE_solar_radiation,WE_rh_min,WE_rh_mean,WE_rh_max,WE_wind_speed_100m_mean,WE_wind_speed_100m_max,WE_blh_layer_max,WE_blh_layer_min,LA_hvi,LA_lvi,LA_land_use,LA_soil_use
count,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,3.090720e+05,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,309072.000000,309072.00000,302496.000000,148334.000000
mean,45.394338,9.721340,172.978723,12.825956,1.474824,2.431391,0.040379,0.376446,98040.245800,1.146931e+07,86.740232,92.754432,97.678969,2.583621,4.622611,1052.201543,42.141775,2.330904,2.17718,134.420290,12.607184
std,0.400741,0.846637,213.653557,8.185071,0.688762,1.108763,0.095304,0.770814,4253.580237,6.438950e+06,5.911950,3.971132,2.174409,1.317972,1.956509,574.646147,48.925533,0.788329,0.59338,47.722983,6.977589
min,44.572778,8.283500,4.000000,-24.140000,0.230900,0.372700,0.000000,0.000000,74670.000000,1.491000e+05,60.000000,71.190000,76.310000,0.435700,0.968400,11.830000,9.006000,0.837000,0.71740,111.000000,0.000000
25%,45.103889,9.044600,61.000000,6.060000,1.022000,1.700000,0.000244,0.000000,97270.000000,5.629750e+06,82.610000,90.200000,96.820000,1.654000,3.179000,562.800000,18.170000,1.865000,1.75900,112.000000,3.000000
50%,45.433010,9.556084,118.000000,12.690000,1.313000,2.147000,0.004453,0.000000,99470.000000,1.124000e+07,86.930000,93.230000,98.320000,2.245000,4.256000,1045.000000,27.400000,2.141000,2.23550,112.000000,17.000000
75%,45.646050,10.336670,210.000000,19.690000,1.739000,2.864000,0.032100,1.000000,100600.000000,1.720000e+07,91.160000,95.900000,99.230000,3.138000,5.635000,1442.000000,46.000000,2.470000,2.61700,121.000000,17.000000
max,46.619470,11.649722,1601.000000,33.080000,7.036000,10.450000,1.772000,8.000000,104300.000000,2.666000e+07,99.770000,99.890000,100.000000,13.050000,19.170000,4431.000000,1308.000000,5.037000,3.66200,333.000000,21.000000

## MetaData Agrimonia

In [55]:
data = pd.read_csv('https://zenodo.org/record/6620530/files/Metadata_Agrimonia.csv?download=1')
pd.set_option('display.max_columns', None)
data.head()

,AGRIMONIA DATASET,AGRIMONIA VARIABLE NAME,DESCRIPTION,MEASUREMENT UNIT/VARIABLE TYPE/FORMAT,DATA SOURCE,DESCRIPTION OF SOURCE,WEBSITE,SOURCE FORMAT,COVERED TEMPORAL SPAN,TEMPORAL RESOLUTION (input),TEMPORAL TRANSFORMATION §3.1,TEMPORAL RESOLUTION (output),SPATIAL RESOLUTION (input),SPATIAL TRANSFORMATION §3.2 - 3.5,SPATIAL RESOLUTION (output),SOURCE VAR NAME,SOURCE LABEL
0,HEADER,IDStations,Unique ID (uid) of station present in sensor n...,-,ARPA Lombardy,Regional Environmental Protection Agency of Lo...,ARPA Lombardy (arpalombardia.it),.csv,2016-2021,None,None,None,None,None,None,IDStations,IDStations
1,NaN,NaN,NaN,NaN,EEA,The European Environmental Agency's (EEA) - pr...,European Environment Agency's — European Envir...,.csv,NaN,None,None,NaN,NaN,NaN,NaN,AirQualityStation,Local id of the station
2,NaN,Latitude,Latitude of station,Degrees,ARPA Lombardy,Regional Environmental Protection Agency of Lo...,ARPA Lombardy (arpalombardia.it),.csv,2016-2021,None,None,None,None,None,None,Latitude,Latitude of sampling point
3,NaN,NaN,NaN,NaN,EEA,The European Environmental Agency's (EEA) - pr...,European Environment Agency's — European Envir...,.csv,NaN,None,None,NaN,NaN,NaN,NaN,Latitude,Latitude of sampling point
4,NaN,Longitude,Longitude of station,Degrees,ARPA Lombardy,Regional Environmental Protection Agency of Lo...,ARPA Lombardy (arpalombardia.it),.csv,2016-2021,None,None,None,None,None,None,Longitude,Longitude of sampling point

In [56]:
shape = data.shape
  
# Printing Number of columns
print('Number of rows: ' +str(shape[0])+ ", number of columns: "+str(shape[1]))

Number of rows: 52, number of columns: 17

In [57]:
data.describe()

,AGRIMONIA DATASET,AGRIMONIA VARIABLE NAME,DESCRIPTION,MEASUREMENT UNIT/VARIABLE TYPE/FORMAT,DATA SOURCE,DESCRIPTION OF SOURCE,WEBSITE,SOURCE FORMAT,COVERED TEMPORAL SPAN,TEMPORAL RESOLUTION (input),TEMPORAL TRANSFORMATION §3.1,TEMPORAL RESOLUTION (output),SPATIAL RESOLUTION (input),SPATIAL TRANSFORMATION §3.2 - 3.5,SPATIAL RESOLUTION (output),SOURCE VAR NAME,SOURCE LABEL
count,6,41,41,47,52,52,52,52,42,52,52,47,47,46,47,52,52
unique,6,41,41,14,9,10,9,4,5,8,8,3,9,4,2,35,35
top,HEADER,IDStations,Unique ID (uid) of station present in sensor n...,μg m^(-3),ARPA Lombardy,Regional Environmental Protection Agency of Lo...,ARPA Lombardy (arpalombardia.it),.csv,2016-2021,Hourly,None,Daily,Gridded (0.1° x 0.1°),Inverse distance weighted interpolation of 4 k-NN,Point,u10 / v10,u and v component of wind
freq,1,1,1,13,12,12,12,25,31,22,16,42,16,25,43,3,6

## Metadata_AQ_imputation_uncertainty

In [58]:
data = pd.read_csv('https://zenodo.org/record/6620530/files/Metadata_AQ_imputation_uncertainty.csv?download=1')
pd.set_option('display.max_columns', None)
data.head()

,Time,IDStation,PM10,CO,NH3,NOx,NO2,SO2,PM25
0,2016-01-01 00:00:00,1264,0.000e+00,NaN,NaN,0.000e+00,0.000e+00,NaN,0.000e+00
1,2016-01-01 00:00:00,1265,0.000e+00,NaN,NaN,0.000e+00,0.000e+00,NaN,0.000e+00
2,2016-01-01 00:00:00,1266,0.000e+00,NaN,0.000e+00,3.903e-01,2.446e-01,NaN,NaN
3,2016-01-01 00:00:00,1269,0.000e+00,0.000e+00,NaN,0.000e+00,0.000e+00,NaN,0.000e+00
4,2016-01-01 00:00:00,1274,NaN,NaN,NaN,0.000e+00,0.000e+00,NaN,NaN

In [59]:
shape = data.shape
  
# Printing Number of columns
print('Number of rows: ' +str(shape[0])+ ", number of columns: "+str(shape[1]))

Number of rows: 309072, number of columns: 9

In [60]:
data.describe()

,Time,IDStation,PM10,CO,NH3,NOx,NO2,SO2,PM25
count,309072,309072,309072,309072,309072,309072,309072,309072,309072
unique,2192,141,27,179,10,1530,1984,1360,60
top,2016-01-01 00:00:00,1264,0.000e+00,NaN,NaN,0.000e+00,0.000e+00,NaN,NaN
freq,141,2192,219225,197180,292617,184457,229533,227025,208385

## Metadata_LA_CORINE_labels.csv

In [61]:
data = pd.read_csv('https://zenodo.org/record/6620530/files/Metadata_LA_CORINE_labels.csv?download=1')
pd.set_option('display.max_columns', None)
data.head()

,GRID_CODE,CLC_CODE,LABEL1,LABEL2,LABEL3,RGB
0,1.0,111.0,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
1,2.0,112.0,Artificial surfaces,Urban fabric,Discontinuous urban fabric,255-000-000
2,3.0,121.0,Artificial surfaces,"Industrial, commercial and transport units",Industrial or commercial units,204-077-242
3,4.0,122.0,Artificial surfaces,"Industrial, commercial and transport units",Road and rail networks and associated land,204-000-000
4,5.0,123.0,Artificial surfaces,"Industrial, commercial and transport units",Port areas,230-204-204

In [62]:
shape = data.shape
  
# Printing Number of columns
print('Number of rows: ' +str(shape[0])+ ", number of columns: "+str(shape[1]))

Number of rows: 45, number of columns: 6

In [63]:
data.describe()

       GRID_CODE    CLC_CODE
count  44.000000   44.000000
mean   22.500000  283.272727
std    12.845233  127.035861
min     1.000000  111.000000
25%    11.750000  193.750000
50%    22.500000  277.500000
75%    33.250000  334.250000
max    44.000000  523.000000

## Metadata_LA_SIARL_labels.csv

In [64]:
data = pd.read_csv('https://zenodo.org/record/6620530/files/Metadata_LA_SIARL_labels.csv?download=1')
pd.set_option('display.max_columns', None)
data.head()

   GRID_CODE  SIARL_CODE                     LABEL
0          1           1  Other agricultural crops
1          2           2             Other cereals
2          3           3                      Beet
3          4           4      Woods and tree crops
4          5           5          Floral nurseries

In [65]:
shape = data.shape
  
# Printing Number of columns
print('Number of rows: ' +str(shape[0])+ ", number of columns: "+str(shape[1]))

Number of rows: 21, number of columns: 3

In [66]:
data.describe()

       GRID_CODE  SIARL_CODE
count  21.000000   21.000000
mean   11.000000   11.000000
std     6.204837    6.204837
min     1.000000    1.000000
25%     6.000000    6.000000
50%    11.000000   11.000000
75%    16.000000   16.000000
max    21.000000   21.000000

## Metadata_monitoring_network_registry.csv

In [67]:
data = pd.read_csv('https://zenodo.org/record/6620530/files/Metadata_monitoring_network_registry.csv?download=1')
pd.set_option('display.max_columns', None)
data.head()

,IDSensor,IDStation,Pollutant,NameStation,Altitude,Province,DateStart,DateStop,Latitude,Longitude,ARPA_zone,ARPA_stat_type,LAU_Code,GISCO_ID,CNTR_CODE,LAU_NAME,POP_2020,POP_DENS_2,AREA_KM2,FID,NUTS3_Code,NUTS0_Code,NUTS0_Name,NUTS1_Code,NUTS1_Name,NUTS2_Code,NUTS2_Name,NUTS3_Name,NUTS3_UrbRur,NUTS3_Remoteness,NUTS3_Metropol,NUTS3_Coastal,NUTS3_Mountain,NUTS3_Border
0,17286,1374,NO2,Monza Parco,181.0,MB,2013-05-01,NaT,45.601232,9.275073,Agg_MI,SB,108033,IT_108033,IT,Monza,124051,3745.851023,33.116907,IT_108033,ITC4D,IT,Italia,ITC,Nord-Ovest,ITC4,Lombardia,Monza e della Brianza,perdominantly urban,predominantly urban,Metropolitan,non-coastal,Other regions,Other regions
1,17290,1374,PM10,Monza Parco,181.0,MB,2013-02-15,NaT,45.601232,9.275073,Agg_MI,SB,108033,IT_108033,IT,Monza,124051,3745.851023,33.116907,IT_108033,ITC4D,IT,Italia,ITC,Nord-Ovest,ITC4,Lombardia,Monza e della Brianza,perdominantly urban,predominantly urban,Metropolitan,non-coastal,Other regions,Other regions
2,17285,1374,NOx,Monza Parco,181.0,MB,2013-05-01,NaT,45.601232,9.275073,Agg_MI,SB,108033,IT_108033,IT,Monza,124051,3745.851023,33.116907,IT_108033,ITC4D,IT,Italia,ITC,Nord-Ovest,ITC4,Lombardia,Monza e della Brianza,perdominantly urban,predominantly urban,Metropolitan,non-coastal,Other regions,Other regions
3,10431,1264,NOx,Sondrio Via Paribelli,290.0,SO,2008-11-11,NaT,46.167852,9.879210,D,UB,014061,IT_014061,IT,Sondrio,21457,1027.299479,20.886801,IT_014061,ITC44,IT,Italia,ITC,Nord-Ovest,ITC4,Lombardia,Sondrio,intermediate,"intermediate, remote",Non metropolitan,non-coastal,> 50 % of population and 50 % of surface are i...,Border regions
4,9968,679,NOx,Valmadrera Via Pozzi,247.0,LC,2006-02-16,NaT,45.842207,9.351658,A,SB,097083,IT_097083,IT,Valmadrera,11438,907.046572,12.610157,IT_097083,ITC43,IT,Italia,ITC,Nord-Ovest,ITC4,Lombardia,Lecco,perdominantly urban,predominantly urban,Non metropolitan,non-coastal,> 50 % of population and 50 % of surface are i...,Other regions

In [68]:
shape = data.shape
  
# Printing Number of columns
print('Number of rows: ' +str(shape[0])+ ", number of columns: "+str(shape[1]))

Number of rows: 540, number of columns: 34

In [69]:
data.describe()

,Altitude,Latitude,Longitude,POP_2020,POP_DENS_2,AREA_KM2
count,532.000000,540.000000,540.000000,5.400000e+02,540.000000,540.000000
mean,174.471805,45.406383,9.717155,1.095614e+05,1304.762958,63.468107
std,205.541793,0.396244,0.814610,2.783408e+05,1708.671379,72.941464
min,4.000000,44.572778,8.283500,1.840000e+02,10.069854,3.821318
25%,62.000000,45.131947,9.066971,6.789000e+03,304.036535,17.486815
50%,123.000000,45.443858,9.556084,2.798050e+04,810.892921,37.141921
75%,214.000000,45.649703,10.331670,8.390900e+04,1265.213423,76.674657
max,1601.000000,46.619470,11.649722,1.396059e+06,7678.436233,405.050888